.blink {
    animation: blink 2s cubic-bezier(0.32, 0, 0.67, 0) 1s 3 normal forwards;
}

@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.scale-up-center {
    animation: scale-up-center 1.5s ease-in-out 0s 1 normal forwards;
}

@keyframes scale-up-center {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.rotate-center {
    animation: rotate-center 2s ease-in-out 0s 1 normal forwards;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.bounce-in-top {
    animation: bounce-in-top 2s ease-in-out 0s 1 normal forwards;
}

@keyframes bounce-in-top {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fade-in 2s ease-in-out 0s 1 normal forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.scale-in {
    animation: myAnim 2s ease-in-out 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        transform: scale(0);
        transform-origin: 50% 0%;
    }

    100% {
        transform: scale(1);
        transform-origin: 50% 0%;
    }
}

.fade-out {
    animation: fade-out 2s ease-in-out 10s 1 normal forwards;
}

@keyframes fade-out {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.6);
    }
}